Repository decompme/decomp.me, pull requests merged in 2022-03, with the labels that each got.

#405 Upgrade dependencies - eth
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/Modal.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#406 Fix preset selection regression
  backend/coreapp/compilers.py
  backend/coreapp/views/compilers.py
  frontend/src/components/compiler/CompilerOpts.tsx
  frontend/src/components/compiler/PresetSelect.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/new.tsx
Labels: frontend, backend

#408 Fix platform-less import (permuter import)
  backend/coreapp/views/scratch.py
Labels: bug, backend

#416 Highlight assembly line on source selected line change
  frontend/src/components/Diff/CompilationPanel.tsx
  frontend/src/components/Diff/Diff.module.scss
  frontend/src/components/Diff/Diff.tsx
  frontend/src/components/Editor/CodeMirror.tsx
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/components/Scratch/renderTabs.tsx
Labels: frontend

#424 Configurable font size
  frontend/src/components/Diff/Diff.module.scss
  frontend/src/components/Diff/Diff.tsx
  frontend/src/components/Editor/CodeMirror.tsx
  frontend/src/components/Scratch/ScratchPreferencesModal.tsx
  frontend/src/components/Scratch/renderTabs.tsx
  frontend/src/lib/settings.ts
  frontend/src/pages/_app.scss
Labels: frontend

#425 Remove unused frontend dependencies and update Next.js
  frontend/package.json
  frontend/src/components/Layout.tsx
  frontend/yarn.lock
Labels: frontend
