Repository decompme/decomp.me, pull requests merged in 2022-09, with the labels that each got.

#543 Switch line diff implementation
  frontend/package.json
  frontend/src/lib/codemirror/useCompareExtension.ts
Labels: bug, frontend, perf

#541 #539 again
  frontend/.babelrc
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/package.json
  frontend/public/purplefrog-bg-180.png
  frontend/src/components/Footer.module.scss
  frontend/src/components/Footer.tsx
  frontend/src/components/Nav/LoginState.tsx
  frontend/src/components/Nav/Search.module.scss
  frontend/src/components/Nav/Search.tsx
  frontend/src/components/ProjectIcon.tsx
  frontend/src/components/ScratchList.module.scss
  frontend/src/components/user/UserAvatar.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/[project].tsx
  frontend/src/pages/[project]/[function].tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/index.module.scss
  frontend/src/pages/index.tsx
  frontend/src/pages/scratch/[slug].tsx
  frontend/src/pages/u/[username].module.scss
  frontend/yarn.lock
Labels: frontend

#548 Fit scratch toolbar onto one row when possible
  frontend/package.json
  frontend/src/components/Breadcrumbs.module.scss
  frontend/src/components/Button.module.scss
  frontend/src/components/Nav/Nav.module.scss
  frontend/src/components/Nav/Nav.tsx
  frontend/src/components/Scratch/AboutScratch.module.scss
  frontend/src/components/Scratch/AboutScratch.tsx
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/components/Scratch/ScratchToolbar.module.scss
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/Scratch/buttons/ClaimScratchButton.tsx
  frontend/src/pages/scratch/[slug].module.scss
  frontend/src/pages/scratch/[slug].tsx
  frontend/yarn.lock
Labels: frontend

#555 Fix mobile viewport bugs
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/pages/_app.scss
Labels: bug, frontend
