Repository decompme/decomp.me, pull requests merged in 2022-12, with the labels that each got.

#618 Upgrade to Next.js 13
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/Breadcrumbs.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Nav/LoginState.tsx
  frontend/src/components/Nav/Nav.tsx
  frontend/src/components/Nav/Search.tsx
  frontend/src/components/PrScratchBasket.tsx
  frontend/src/components/ProjectFunctionList.tsx
  frontend/src/components/ProjectHeader.tsx
  frontend/src/components/ProjectIcon.tsx
  frontend/src/components/ProjectSettings.tsx
  frontend/src/components/Scratch/AboutScratch.tsx
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/ScratchList.tsx
  frontend/src/components/UnderlineNav.tsx
  frontend/src/components/VerticalMenu.tsx
  frontend/src/components/user/UserAvatar.tsx
  frontend/src/components/user/UserLink.tsx
  frontend/src/lib/codemirror/useCompareExtension.ts
  frontend/src/pages/credits.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/projects.tsx
  frontend/src/pages/projects/[project]/functions/[function].tsx
  frontend/yarn.lock
Labels: frontend

#631 Cache CI
  .github/workflows/ci.yml
Labels: ci

#637 add xmas hat to frog.svg
  frontend/src/components/Nav/frog.svg
  frontend/src/pages/credits.tsx
Labels: frontend, high priority

#628 Implement timeouts for m2c and compiler invocations
  backend/coreapp/decompiler_wrapper.py
  backend/coreapp/m2c_wrapper.py
  backend/coreapp/util.py
  backend/coreapp/views/scratch.py
  backend/decompme/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend
