Repository decompme/decomp.me, pull requests merged in 2022-01, with the labels that each got.

#270 Add settings page
  frontend/next.config.js
  frontend/package.json
  frontend/src/components/AsyncButton.module.scss
  frontend/src/components/Diff/Diff.module.css
  frontend/src/components/Diff/Diff.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Nav/LoginState.module.scss
  frontend/src/components/Nav/LoginState.tsx
  frontend/src/components/Nav/Nav.module.scss
  frontend/src/components/Nav/Nav.tsx
  frontend/src/components/Nav/UserMenuItems.module.scss
  frontend/src/components/Nav/UserMenuItems.tsx
  frontend/src/components/PlatformSelect/PlatformIcon.tsx
  frontend/src/components/Portal.tsx
  frontend/src/components/ScoreBadge.tsx
  frontend/src/components/Scratch/AboutScratch.module.scss
  frontend/src/components/Scratch/AboutScratch.tsx
  frontend/src/components/Scratch/ChooseACompiler.tsx
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/components/Scratch/ScratchBody.tsx
  frontend/src/components/Scratch/ScratchPreferencesModal.module.scss
  frontend/src/components/Scratch/ScratchPreferencesModal.tsx
  frontend/src/components/Scratch/ScratchToolbar.module.scss
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/Scratch/hooks/useFuzzySaveCallback.ts
  frontend/src/components/Scratch/hooks/useSaveShortcut.ts
  frontend/src/components/Scratch/renderTabs.module.scss
  frontend/src/components/Scratch/renderTabs.tsx
  frontend/src/components/Shortcut.tsx
  frontend/src/components/Tabs.module.scss
  frontend/src/components/Tabs.tsx
  frontend/src/components/VerticalMenu.module.scss
  frontend/src/components/VerticalMenu.tsx
  frontend/src/components/compiler/CompilerOpts.module.css
  frontend/src/components/compiler/CompilerOpts.tsx
  frontend/src/components/user/UserLink.module.css
  frontend/src/lib/api.ts
  frontend/src/lib/settings.ts
  frontend/src/pages/_app.scss
  frontend/src/pages/scratch/[slug].tsx
  frontend/src/pages/settings/[tab].module.scss
  frontend/src/pages/settings/[tab].tsx
  frontend/src/pages/u/[username].tsx
  frontend/yarn.lock
Labels: frontend

#286 Minor frontend fixes
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/Scratch/buttons/SaveScratchButton.tsx
  frontend/src/components/Scratch/hooks/useFuzzySaveCallback.ts
Labels: bug, frontend

#285 ScratchViewSet + search box
  .env
  README.md
  backend/coreapp/migrations/0013_scratch_name_default.py
  backend/coreapp/models.py
  backend/coreapp/serializers.py
  backend/coreapp/tests.py
  backend/coreapp/urls.py
  backend/coreapp/views/scratch.py
  backend/coreapp/views/user.py
  backend/decompme/settings.py
  backend/requirements.txt
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/components/Nav/LoginState.module.scss
  frontend/src/components/Nav/Nav.module.scss
  frontend/src/components/Nav/Nav.tsx
  frontend/src/components/Nav/Search.module.scss
  frontend/src/components/Nav/Search.tsx
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/components/Scratch/ScratchBody.tsx
  frontend/src/components/Scratch/ScratchToolbar.module.scss
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/Scratch/buttons/SaveScratchButton.tsx
  frontend/src/components/Scratch/hooks/useFuzzySaveCallback.ts
  frontend/src/components/Scratch/util/setCompilerOpts.ts
  frontend/src/components/Shortcut.tsx
  frontend/src/components/VerticalMenu.module.scss
  frontend/src/components/VerticalMenu.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/scratch/[slug].tsx
  frontend/src/pages/scratch/new.tsx
  frontend/yarn.lock
Labels: frontend, backend

#287 /compile GET updates scratch scores
  backend/coreapp/asm_diff_wrapper.py
  backend/coreapp/compiler_wrapper.py
  backend/coreapp/tests.py
  backend/coreapp/views/scratch.py
Labels: backend

#296 Fix preferences dialog on Safari
  frontend/package.json
  frontend/src/components/Scratch/ScratchPreferencesModal.module.scss
  frontend/src/components/Scratch/ScratchPreferencesModal.tsx
  frontend/src/components/Tabs.tsx
  frontend/src/pages/_app.scss
  frontend/yarn.lock
Labels: bug, frontend

#298 Add "This function has been matched" banner
  backend/coreapp/models.py
  backend/coreapp/tests.py
  backend/coreapp/views/scratch.py
  frontend/src/components/DismissableBanner.module.scss
  frontend/src/components/DismissableBanner.tsx
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/components/Scratch/ScratchMatchBanner.tsx
  frontend/src/components/Scratch/ScratchToolbar.module.scss
  frontend/src/pages/scratch/[slug].module.scss
Labels: frontend, backend

#302 Decompile endpoint
  backend/coreapp/decompiler_wrapper.py
  backend/coreapp/m2c_wrapper.py
  backend/coreapp/tests.py
  backend/coreapp/views/scratch.py
Labels: backend

#303 Add created/modified times to AboutScratch
  frontend/src/components/Scratch/AboutScratch.tsx
Labels: frontend

#304 User scratch lists
  backend/coreapp/urls.py
  backend/coreapp/views/user.py
  frontend/src/components/Button.tsx
  frontend/src/components/ScratchList.module.scss
  frontend/src/components/ScratchList.tsx
  frontend/src/components/user/UserLink.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/index.module.scss
  frontend/src/pages/index.tsx
  frontend/src/pages/u/[username].module.css
  frontend/src/pages/u/[username].module.scss
  frontend/src/pages/u/[username].tsx
Labels: frontend, backend

#311 Add plausible analytics to frontend
  .github/workflows/pr.yml
  frontend/package.json
  frontend/src/components/Nav/Search.tsx
  frontend/src/components/Nav/UserMenuItems.tsx
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/new.tsx
  frontend/yarn.lock
Labels: frontend

#313 Add privacy policy
  frontend/.eslintrc.json
  frontend/src/components/Footer.module.scss
  frontend/src/components/Footer.tsx
  frontend/src/pages/new.module.scss
  frontend/src/pages/new.tsx
  frontend/src/pages/privacy.module.scss
  frontend/src/pages/privacy.tsx
Labels: help wanted, frontend
