Repository decompme/decomp.me, pull requests merged in 2022-02, with the labels that each got.

#344 frontend: Translate ANSI color codes to HTML colors
  frontend/package.json
  frontend/src/components/Diff/Diff.tsx
  frontend/yarn.lock
Labels: frontend

#357 Make max_score populate even if the compilation fails
  backend/coreapp/asm_diff_wrapper.py
  backend/coreapp/compiler_wrapper.py
  backend/coreapp/tests.py
  backend/coreapp/views/scratch.py
Labels: backend

#359 Split models.py into submodules
  backend/coreapp/admin.py
  backend/coreapp/asm_diff_wrapper.py
  backend/coreapp/compiler_wrapper.py
  backend/coreapp/middleware.py
  backend/coreapp/migrations/0001_initial.py
  backend/coreapp/models/__init__.py
  backend/coreapp/models/github.py
  backend/coreapp/models/profile.py
  backend/coreapp/models/scratch.py
  backend/coreapp/serializers.py
  backend/coreapp/tests.py
  backend/coreapp/views/scratch.py
  backend/coreapp/views/user.py
Labels: backend

#360 Decompile gooey
  frontend/package.json
  frontend/src/components/Modal.module.scss
  frontend/src/components/Modal.tsx
  frontend/src/components/Scratch/ScratchDecompileModal.module.scss
  frontend/src/components/Scratch/ScratchDecompileModal.tsx
  frontend/src/components/Scratch/ScratchPreferencesModal.module.scss
  frontend/src/components/Scratch/ScratchPreferencesModal.tsx
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/yarn.lock
Labels: frontend

#292 Projects MVP
  .github/workflows/pr.yml
  backend/coreapp/admin.py
  backend/coreapp/context.py
  backend/coreapp/migrations/0001_initial.py
  backend/coreapp/migrations/0014_projects.py
  backend/coreapp/models/github.py
  backend/coreapp/models/profile.py
  backend/coreapp/models/project.py
  backend/coreapp/models/scratch.py
  backend/coreapp/serializers.py
  backend/coreapp/symbol_addrs.py
  backend/coreapp/tests.py
  backend/coreapp/urls.py
  backend/coreapp/views/project.py
  backend/coreapp/views/scratch.py
  backend/decompme/settings.py
  backend/requirements.txt
  frontend/package.json
  frontend/src/components/AsyncButton.module.scss
  frontend/src/components/AsyncButton.tsx
  frontend/src/components/GitHubLoginButton.tsx
  frontend/src/components/Nav/Search.module.scss
  frontend/src/components/Nav/Search.tsx
  frontend/src/components/PlatformSelect/PlatformIcon.tsx
  frontend/src/components/ProjectFunctionList.module.scss
  frontend/src/components/ProjectFunctionList.tsx
  frontend/src/components/ProjectIcon.module.scss
  frontend/src/components/ProjectIcon.tsx
  frontend/src/components/Scratch/AboutScratch.module.scss
  frontend/src/components/Scratch/AboutScratch.tsx
  frontend/src/components/Scratch/ScratchToolbar.module.scss
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/ScratchIcon.tsx
  frontend/src/components/ScratchList.module.scss
  frontend/src/components/ScratchList.tsx
  frontend/src/components/SearchBox.module.scss
  frontend/src/components/SearchBox.tsx
  frontend/src/components/UserAvatarList.module.scss
  frontend/src/components/UserAvatarList.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/[project].module.scss
  frontend/src/pages/[project].tsx
  frontend/src/pages/[project]/[function].module.scss
  frontend/src/pages/[project]/[function].tsx
  frontend/src/pages/index.module.scss
  frontend/src/pages/index.tsx
  frontend/yarn.lock
Labels: frontend, backend

#369 Problems panel
  frontend/src/components/Diff/CompilationPanel.module.scss
  frontend/src/components/Diff/CompilationPanel.tsx
  frontend/src/components/Diff/Diff.module.scss
  frontend/src/components/Diff/Diff.tsx
  frontend/src/components/Nav/Search.tsx
  frontend/src/components/Scratch/Scratch.tsx
  frontend/src/components/Scratch/ScratchToolbar.tsx
  frontend/src/components/Scratch/renderTabs.tsx
  frontend/src/lib/api.ts
Labels: frontend

#366 Poetry
  .github/workflows/pr.yml
  .gitignore
  README.md
  backend/Dockerfile
  backend/docker_entrypoint.sh
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
  docker-compose.yaml
Labels: backend, deployment

#381 Add project descriptions
  backend/coreapp/migrations/0015_project_description.py
  backend/coreapp/models/project.py
  backend/coreapp/serializers.py
  backend/coreapp/tests.py
  backend/coreapp/views/project.py
  backend/pyproject.toml
  frontend/src/components/UserAvatarList.module.scss
  frontend/src/lib/api.ts
  frontend/src/pages/[project].module.scss
  frontend/src/pages/[project].tsx
Labels: frontend, backend

#383 Fix fork bug
  backend/coreapp/migrations/0016_give_scratches_project_functions.py
  backend/coreapp/tests.py
  backend/coreapp/views/scratch.py
Labels: bug, backend

#384 Add 'is online' markers
  backend/coreapp/models/profile.py
  backend/coreapp/serializers.py
  frontend/src/components/UserAvatarList.module.scss
  frontend/src/components/UserAvatarList.tsx
  frontend/src/components/user/UserAvatar.module.scss
  frontend/src/components/user/UserAvatar.tsx
  frontend/src/components/user/UserLink.module.scss
  frontend/src/components/user/UserLink.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/u/[username].tsx
Labels: frontend, backend

#392 Request OAuth scopes on-demand
  backend/coreapp/error.py
  backend/coreapp/models/github.py
  frontend/src/components/GitHubLoginButton.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/oauth.ts
  frontend/src/pages/login.tsx
Labels: backend
